.post {
  display: flex;
  flex-direction: column;
  background-color: black;
  border-bottom: 1px solid white;
  color: white;
  -webkit-transition: margin-left 0.5s, opacity 1s; /* Safari */
  transition: margin-left 0.5s, opacity 1s;
}

.line-one,.line-two,.line-three {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
}

.line-one,.line-three {
  padding: 5px 0px;
  justify-content: space-around;
}

/* 
.line-one {

}

.line-two {
  
} */

.line-two img {
  max-width: 100px;
  max-height: 150px;
  margin-left: 0;
}
/* 
.line-three {

} */

.dismiss-btn {
  display: flex;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dismissed {
  position: absolute;
  margin-left: -1000px;
  opacity: 0.5;
}

.new-post {
  width: 10px;
  height: 10px;
  border-radius: 30px;
  opacity: 1;
  margin: 5px 0px;
  background: blue;
}

.old-post {
  opacity: 0;
}